  {{!-- Display previous blog posts from seed --}}
  
  <h2>Blogs</h2>
   <section class="blogs m-4 p-4">
      {{#each blogs}}
        <p class="title"><b>{{ title }}</b></p>
        <p class="content"> {{ content }} </p>

    <div>
       <h4 class="bg-light">Comment text</h4>
      {{ comment.text }}
    </div>
      {{/each}}

    {{#if logged_in}}
    {{!-- <h4>If logged in see h2 below if logged out then nothing</h4> --}}
     <h4 class="pt-5">ADD COMMENT HERE WHEN LOGGED IN</h4>
         <div class="p-3">
       <p> Add Comment</p>
       

      <div class="">
            <form class="">
          <!-- userID input -->
          <div class="">
            <input type="hidden" id="commentUserId" class="form-control" value={{ userId }} />
          </div>       
          <!-- article_id -->
          <div class="">
            <input type="hidden" id="commentArticleId" class="form-control" value={{ blog.id }} />
          </div>     
          <!-- text input -->
          <div class="">
            <label class="" for="commentText">Comment:</label>
            <textarea rows="3" id="commentText" class="form-control " placeholder="Min 10 characters"/></textarea>
          </div>
          <div class="">

            <!-- Submit button -->
            <button type="submit" id="addComment" class="">Add</button>
            <button type="cancel" id='cancelComment' class="">Cancel</button>
          </div>

        </form>
      </div>
    {{/if}}
  </section>

